@(myForm: Form[Tuple4[String, String, String, String]], roles:java.util.List[String], users:Seq[ActiveUser])

@import helper._

@portalBase("Index") {
        @main("Cahoots - Login") {

        @form(action = routes.Portal.createUser) {
        @myForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
        }

        @inputText(myForm("username"))
        @inputPassword(myForm("password"))
        @inputText(myForm("email"))
        @select(
            myForm("role"),
            options = options(roles),
            '_default -> "--- Choose a role ---",
            '_label -> "Role",
            '_error -> myForm("profile.roles").error.map(_.withMessage("Please select a role"))
        )

        <input type="submit" value="Create" />
        }
        <ul>
            @users.map { user =>
            <li>@user.name</li>
            }
        </ul>

}
}