@(myForm: Form[Tuple4[String, String, String, String]], roles:java.util.List[String], users:Seq[ActiveUser])

@import helper._

@portalBase("Index") {

        @form(action = routes.Portal.createUser) {
        @myForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
        }

        @inputText(myForm("username"))
        @inputPassword(myForm("password"))
        @inputText(myForm("email"))
        @select(
            myForm("role"),
            options = options(roles),
            '_default -> "--- Choose a role ---",
            '_label -> "Role",
            '_error -> myForm("profile.roles").error.map(_.withMessage("Please select a role"))
        )

        <input type="submit" value="Create" />

        }

    <table id="user_table">
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>name</th>
                <th>role</th>
            </tr>
        </thead>
        <tbody>

        @users.map { user =>
        <tr>
            <th>@user.id</th>
            <th>@user.username</th>
            <th>@user.name</th>
            <th>@user.role</th>
        </tr>
        }
        </tbody>
    </table>


<script type="javascript">
    $(document).ready(function(){
    $('#user_table').dataTable();
    });
</script>
}