*.class

# Backup Files #
*~

# Package Files #
*.jar
*.war
*.ear

/cahootsEclipse/target
/cahootsEclipse/.cache
/cahootsEclipse/.settings

/.project
/.settings
/cahootsVisualStudio/cahootsVisualStudio/bin
/cahootsVisualStudio/cahootsVisualStudio/obj