# Java #
*.class
*~
*.jar
*.war
*.ear

# C++ #
*.o
*.suo
*.log
*.tlog

# Project #
/cahootsEclipse/target
/cahootsEclipse/.cache
/cahootsEclipse/.settings

/.project
/.settings
/cahootsVisualStudio/cahootsVisualStudio/bin
/cahootsVisualStudio/cahootsVisualStudio/obj

/cahootServer/target/
/cahootServer/lib_managed/
/cahootServer/src_managed/
/cahootServer/project/boot/

/cahootsEclipse/target/
/cahootsEclipse/lib_managed/
/cahootsEclipse/src_managed/
/cahootsEclipse/project/boot/

