@(myForm: Form[Tuple2[String, String]])

@main("Cahoots - Login") {
<div class="login">

    <fieldset>

        <legend>Sign In</legend>
    @helper.form(action = routes.Auth.checkCredentials) {
        @myForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
        }
        @helper.inputText(myForm("username"))
        @helper.inputPassword(myForm("password"))
        <input type="submit" value="Login" class="button"/>
    }

        </fieldset>
</div>
}