<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cahoot"
            name="Cahoot">
      </category>
      <view
            category="cahoot"
            class="com.cahoot.eclipse.views.CahootConnectionView"
            icon="icons/sample.gif"
            id="com.cahoot.eclipse.views.CahootConnectionView"
            name="Cahoot Connections">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.cahoot.eclipse.views.CahootConnectionView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="cahoot.popup.share"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="cahoot.menu"
               label="Cahoot"
               path="additions">
            <separator
                  name="main">
            </separator>
         </menu>
         <action
               class="com.cahoot.eclipse.popup.actions.CollaboratorShareAction"
               id="cahoot.shareAction"
               label="Share"
               menubarPath="cahoot.menu/main"
               style="push"
               tooltip="Share file">
         </action>
      </objectContribution>
   </extension>

</plugin>
