<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	point="org.eclipse.ui.actionSets">
		<actionSet
		label="Cahoots"
		visible="true"
		id="com.cahoots.eclipse.indigo.popup.actionSet">
			<menu id="cahoots_actionset"
		   label="Cahoots"
		   path="window/Cahoots"> 
				<separator name="slot1"/>
				<separator name="slot2"/>
			</menu>
			<action
			label="Connect to Cahoots..."
			class="com.cahoots.eclipse.indigo.popup.Connect"
			menubarPath="window/cahoots_actionset/slot1"
			id="com.cahoots.eclipse.indigo.popup.Connect" 
			style="push"/>
			<action
			label="Disconnect from Cahoots..."
			class="com.cahoots.eclipse.indigo.popup.Disconnect"
			menubarPath="window/cahoots_actionset/slot2"
			id="com.cahoots.eclipse.indigo.popup.Disconnect"
      style="push"/>
		</actionSet>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="cahoots-users-view"
          name="Users">
    </category>
    <view
          category="cahoots-users-view"
          class="com.cahoots.eclipse.indigo.view.UsersView"
          icon="icons/sample.gif"
          id="com.cahoots.eclipse.indigo.view.UsersView"
          name="Users View">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <view
             id="com.cahoots.eclipse.indigo.view.UsersView"
             ratio="0.5"
             relationship="right"
             relative="org.eclipse.ui.views.TaskList">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="contexts.xml">
    </contexts>
 </extension>
</plugin>
