<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	point="org.eclipse.ui.actionSets">
		<actionSet
		label="Cahoots"
		visible="true"
		id="com.cahoots.eclipse.indigo.popup.actionSet">
			<menu id="cahoots_actionset"
		   label="Cahoots"
		   path="window/Cahoots"> 
				<separator name="slot1"/>
				<separator name="slot2"/>
			</menu>
			<action
			label="Connect to Cahoots..."
			class="com.cahoots.eclipse.indigo.popup.Connect"
			menubarPath="window/cahoots_actionset/slot1"
			id="com.cahoots.eclipse.indigo.popup.Connect" 
			style="push"/>
			<action
			label="Disconnect from Cahoots..."
			class="com.cahoots.eclipse.indigo.popup.Disconnect"
			menubarPath="window/cahoots_actionset/slot2"
			id="com.cahoots.eclipse.indigo.popup.Disconnect"
      style="push"/>
		</actionSet>
	</extension>
	<extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar id="com.cahoots.eclipse.indigo.view">
             <control class="com.cahoots.eclipse.indigo.view.FastBar"></control>
         </toolbar>
      </menuContribution>
   </extension>
	
 <extension
       point="org.eclipse.ui.views">
    <category
          id="cahoots-view"
          name="Cahoots">
    </category>
    <view
          category="cahoots-view"
          class="com.cahoots.eclipse.indigo.view.UsersView"
          icon="icons/sample.gif"
          id="com.cahoots.eclipse.indigo.view.UsersView"
          name="Cahoots - Users View">
    </view>
    <view
          category="cahoots-view"
          class="com.cahoots.eclipse.indigo.view.SharedDocumentView"
          icon="icons/sample.gif"
          id="com.cahoots.eclipse.indigo.view.SharedDocumentView"
          name="Cahoots - Shared Documents">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <view
             id="com.cahoots.eclipse.indigo.view.UsersView"
             ratio="0.5"
             relationship="right"
             relative="org.eclipse.ui.views.TaskList">
       </view>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <view
             id="com.cahoots.eclipse.indigo.view.SharedDocumentView"
             ratio="0.5"
             relationship="right"
             relative="org.eclipse.ui.views.TaskList">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="contexts.xml">
    </contexts>
 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
       		<objectContribution
            id="cahoot.java.popup.share"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
			<menu
               id="cahoot.java.menu"
               label="Cahoot"
               path="additions">
				<separator
                  name="main">
				</separator>
			</menu>
			<action
               class="com.cahoots.eclipse.indigo.popup.ShareDocument"
               id="cahoot.java.shareAction"
               label="Share"
               menubarPath="cahoot.java.menu/main"
               style="push"
               tooltip="Share file">
			</action>
		</objectContribution>
		<objectContribution
            id="cahoot.package.popup.share"
            objectClass="org.eclipse.jdt.internal.ui.packageview.PackageExplorerPart">
			<menu
               id="cahoot.package.menu"
               label="Cahoot"
               path="additions">
				<separator
                  name="main">
				</separator>
			</menu>
			<action
               class="com.cahoots.eclipse.indigo.popup.ShareDocument"
               id="cahoot.package.shareAction"
               label="Share"
               menubarPath="cahoot.package.menu/main"
               style="push"
               tooltip="Share file">
			</action>
		</objectContribution>
		<viewerContribution
            id="cahoot.editor.popup"
            targetID="#AbstractTextEditorContext">
			<menu
               id="cahoot.editor.menu"
               label="&amp;Cahoot">
				<separator
                  name="main">
				</separator>
			</menu>
			<action
               class="com.cahoots.eclipse.indigo.popup.ShareDocument"
               id="cahoot.editor.shareAction"
               label="&amp;Share"
               menubarPath="cahoot.editor.menu/main"
               style="push"
               tooltip="Share file">
			</action>
		</viewerContribution>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="com.cahoots.preferences.CahootsPreferencePage"
          id="com.cahoots.preferences.CahootsPreferencePage"
          name="Cahoots">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="com.cahoots.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.equinox.preferences.preferences">
 </extension>
</plugin>
